svg{
    height:2.1rem;
    width:2.1rem;
}
.post{

    border-radius: 50%; 
    height:6rem; 
    width:6rem;
    border-color: rgb(249,155,74);
    border-color: linear-gradient(90deg, rgba(249,155,74,0.6699054621848739) 35%, rgba(205,45,137,1) 100%);
}




@media only screen and (max-width: 1040px) {
    input {
      display: none;
    }
  }


  @media only screen and (max-width: 1040px) {
    section {
      display: none;
    }
  }
 